<div class="row col-lg-5">
  <br>
  <form [formGroup]="carelForm" (ngSubmit)="onSubmit()">
    <div class="row col-lg-12">
        <label class="col-md-offset-1 text-uppercase"style="font-size: large; font-family: STKaiti;" for="name">Name</label>
        <input class="form-control col-md-offset-1" type="text" id="name" name="name" formControlName="name" required>
      </div>
      <br>
      <br>
      <br>
      <br>
      <b class="col-md-offset-1 text-uppercase" style="font-size: large; font-family: STKaiti;">Category</b>

      <div class="col-md-offset-1" style="font-family: 'Droid Sans'" *ngFor="let enum of enum_details">
        <label for="{{enum.name}}">
          <input id="{{enum.name}}" [value]='enum.name' type="radio" name="category" required formControlName="category">
          {{enum.name}}
        </label>
      </div>

<br>
      <b class="col-md-offset-1 text-uppercase" style="font-size: large; font-family: STKaiti;">DATE CURRENT</b>
      <br >
      <input class="alert-input date-input col-md-offset-1" name="dob" required [max]="today" type="date" formControlName="date">
      <br>
      <br>
      <b class="col-md-offset-1 text-uppercase" style="font-size: large; font-family: STKaiti;">Required Till Date</b>
      <br >
      <input class="alert-input date-input col-md-offset-1" name="endDate" required [min]="today" type="date" formControlName="endDate">
      <br>
      <br>

    <div class="row col-md-offset-1">
      <b class="text-uppercase" style="font-size: large; font-family: STKaiti;">Sharing Carel With</b>

      <div class="" formArrayName="names">
        <div class="row"
          *ngFor="let ll of carelForm.get('names').controls; let i = index"
          [formGroupName]="i"
          style="margin-top: 9px;">
          <div class="col-xs-8">
            <input
              type="text"
              class="form-control"
              name="nameIn"
              formControlName="nameIn">
          </div>
          <div class="col-xs-2">
            <input
              type="number"
              class="form-control"
              name="age"
              formControlName="age">
          </div>
          <div class="col-xs-2">
            <button
              type="button"
              class="btn btn-danger"
              (click)="onDeleteIngredient(i)">X</button>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-12">
            <button
              type="button"
              class="btn btn-success"
              (click)="onAddIngredient()">Add Ingredient</button>
          </div>
        </div>
      </div>
    </div>
<br>
      <button type="submit" [disabled]="!carelForm.valid" class="btn btn-primary col-md-offset-1">Submit</button>
      <button type="button" (click)="onClear()" class="btn btn-info text-center ">Clear</button>

    </form>
</div>
