<nav class="nav navbar-default">
<div class="container-fluid">
  <div class="navbar-header">
    <a style="cursor: pointer;" class="navbar-brand">Libray Center</a>
  </div>
    <div class="collapse navbar-collapse">

      <ul class="nav navbar-nav" style="cursor: pointer;">
        <li> <a class="nav" (click)="onHomePressed()">Home</a></li>
        <ul class="nav navbar-nav">
          <li class="dropdown" appDropdown>
            <a class="dropdown-toggle" role="button">Books <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a (click)="returnBook()">Return Book</a></li>
              <li><a (click)="searchBook()" >Search Book</a></li>
              <li><a (click)="onBookListClicked()">Book List</a></li>
            </ul>
          </li>
          <li class="dropdown" appDropdown>
            <a class="dropdown-toggle" role="button">Rooms <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a (click)="onStudyCarrel()"> Study Carrel</a></li>
              <li><a (click)="carelReserved()">Carels Reserved</a></li>
              <li><a>Book List</a></li>
            </ul>

          </li>

        </ul>
        <li> <a routerLink="maps" class="nav">Maps</a></li>
        <li> <a routerLink="map-search" class="nav">SearchMap</a></li>
        <li> <a class="nav">Careers</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li> <a  routerLink="signin"  class="nav"  *ngIf="!authSer.isAuthenticated()" >SignIn</a></li>
        <li> <a routerLink="signup" class="nav"  *ngIf="!authSer.isAuthenticated()" >Register</a></li>
        <li> <a class="nav" *ngIf="authSer.isAuthenticated()">Logout</a></li>
        <li class="dropdown" appDropdown>
          <a class="dropdown-toggle" role="button" *ngIf="authSer.isAuthenticated()">Manage <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a (click)="onSave()">Save Data</a></li>
            <li><a (click)="onFetchData()">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
  </div>
</div>
</nav>
