<br>
<div class="row col-lg-offset-1">
  <button class="btn btn-primary" style="font-family: 'Yuanti SC'; font-size: medium" (click)="newBookPressed()">New Book</button>
</div>
<br>
<div class="row col-lg-offset-1">

  <div class="col-lg-12"style="font-family: 'Yuanti SC'; font-size: medium">
    <app-book-item
      *ngFor="let bookEl of books;
      let i = index"
      [index]="i"
      [book]="bookEl"></app-book-item>

  </div>
</div>

