

<b style="font-size: x-large; font-family: 'Droid Sans'">
  The List of carels reserved are:
</b>

<div class="row">
  <div class="row col-lg-6">
    <ul class="">

      <li *ngFor="let l of carels">
        <input  [readonly]="true"    type="text"      class="row col-lg-3"      value="{{l.name}}">
        <input  [readonly]="true"    type="text"      class="row col-lg-3"      value="{{l.category}}">
        <input  [readonly]="true"    type="date"      class="row col-lg-3"      value="{{l.date}}">
        <div *ngFor="let namess of l.names"> <input  [readonly]="true" type="text" class="col-lg-3" value="{{namess.nameIn}}">
        </div>
      </li>
    </ul>
  </div>

</div>
