
<p>The hero's birthday is {{ filteredSta | date:format  | uppercase}}</p>
<button (click)="toggleFormat()">Toggle Format</button>

<div class="form-group">
  <label >Distance</label>
  <select class="form-control" #t (change)="callType(t.value)">
    <option *ngFor="let type of types" [value]="type">{{type}}</option>
  </select>
</div>

<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div class="form-group col-lg-offset-1 col-lg-8">
    <label>DropDown</label>
    <select class="form-control" #t (change)="callType(t.value)">
      <option  *ngFor="let l of arrays" [value]="l"  name="{{l}}" ngModel>{{l}}</option>
    </select>
  </div>

  <button type="submit">Save</button>
</form>
