<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="bookEditForm" (ngSubmit)="onSubmit()">

      <div class="row">
        <div class="col-xs-12">

            <button
              type="submit"
              class="btn btn-success">SAVE</button>

            <button type="button"  class="btn btn-primary">Cancel</button>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              id="name"
              formControlName="name"
              class="form-control">
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="quantity">Quantity</label>
            <input type="number" id="quantity" formControlName="quantity" class="form-control">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="cost">Cost</label>
            <input type="number" id="cost" formControlName="cost" class="form-control">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="image">Image</label>
            <input type="text" id="image" formControlName="image" class="form-control">
          </div>
        </div>
      </div>



    </form>
  </div>
</div>
