
<div class="row">
  <div class="row">
    <div class="col-xs-12" style="font-family: Chalkboard">
      <h4>{{ book.name }}</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12"  style="font-family: Chalkboard">
      <h4>Cost: {{ book.cost }}</h4>
    </div>
  </div>

  <div class="row">
    <img src="{{book.image}}" class="img-responsive" style="height: 300px; width: 300px;">
  </div>

  <div class="row">
    <div class="btn-group" appDropdown>
      <button
        type="button"
        class="btn btn-primary dropdown-toggle">
        Manage Book <span class="caret"></span>
      </button>

      <ul class="dropdown-menu">
          <div class="btn-group-vertical glyphicon" style="width: 160px; height: auto">
            <button (click)="onEditPressed()" class="btn btn-primary">Edit <span class="glyphicon glyphicon-edit"></span> </button>
            <button (click)="onDeletePressed()" class="btn btn-danger">Delete  <span class="glyphicon glyphicon-erase"></span></button>
              <button class="btn btn-info" (click)="onIssueBookPressed()" [disabled]="issueBook"> {{!issueBook ? 'Issue' : 'No Books '}}<span class="glyphicon glyphicon-plus-sign"></span></button>
          </div>
      </ul>

    </div>
  </div>
</div>

