<div class="col-lg-7 pre-scrollable">
  <h4>Enter the book name to be searched</h4>
  <input type="text" [(ngModel)]="filteredStatus">
  <br>
  <br>

  <app-searchbook
    *ngFor="let bookEl of bookss | filter:filteredStatus"
    [book1]="bookEl">
  </app-searchbook>

</div>

