<div class="row col-lg-offset-1">
  <a
    routerLinkActive="active"
    class="list-group-item clearfix col-lg-7">
    <div class="pull-left">
      <h4 class="list-group-item-heading">{{ book1.name }}</h4>
      <p class="list-group-item-text">Price :{{ book1.cost }}</p>

    </div>
    <span class="text-center">
    <p class="list-group-item-text">Quantity: {{ book1.quantity }}</p>
  </span>
    <span class="pull-right">
        <img
          [src]="book1.image"
          alt="{{ book1.name }}"
          class="img-responsive"
          style="max-height: 50px;">
      </span>
  </a>
</div>
