<div class="row">
  <div class="row">
    <a
      [routerLink]="[index]"
      style="cursor: pointer;"
      routerLinkActive="active"
      class="list-group-item clearfix col-lg-7">
      <div class="pull-left">
        <h4 class="list-group-item-heading">{{ book.name }}</h4>
        <p class="list-group-item-text">Price :{{ book.cost }}</p>

      </div>
      <span class="text-center">
    <p class="list-group-item-text">Quantity: {{ book.quantity }}</p>
  </span>
      <span class="pull-right">
        <img
          [src]="book.image"
          alt="{{ book.name }}"
          class="img-responsive"
          style="max-height: 50px;">
      </span>
    </a>
  </div>
</div>



