<div class="container">

  <form (submit)="onSubmit()">

    <div class="form-group">
      <label for="type">Name</label>
      <input id="type" name="type" class="form-control" [(ngModel)]="order.name" ngControl="name"/>
    </div>

    <div class="form-group">
      <label >Distance</label>
      <select class="form-control" #t (change)="callType(t.value)">
        <option *ngFor="let type of types" [value]="type">{{type}}</option>
      </select>
    </div>
    <button type="submit">Submit</button>
  </form>

  <input placeholder="search for location" autocorrect="off"
         autocapitalize="off" spellcheck="off" type="text"
         class="form-control" #search [formControl]="searchControl">
  <input id="latitude" type="text"  value="{{this.latitude}}">
  <input id="longitude" type="text"  value="{{this.longitude}}">



<h3 *ngIf="locFound">No location found</h3>
  <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
    <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
  </agm-map>

  <div class="form-group">
    <label for="place">Place</label>
    <input type="text" id="place" value="{{place}}">
  </div>

  <div class="form-group" *ngFor="let l of libDataArray1">
    <label for="places">Place</label>
    <input type="text" id="places" value="{{l}}" readonly>
  </div>

</div>
