<br>
<div class="form-group col-md-offset-1 col-md-3">
  <form (ngSubmit)="onSubmit()" [formGroup]="returnBookForm">
    <label for="name">Enter the Book Name</label>
    <input id="name" type="text" class="form-control" formControlName="name">
    <br>
    <p *ngIf="bStatus">{{!bookStatus ? 'Invalid Book Entered' : 'Valid Book'}}</p>
    <br>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>
