<div class="row">
  <label class="text-center text-uppercase col-md-offset-4" style="font-size: x-large">Welcome To Glenn G Bartle Library</label>
</div>
<div class="row col-lg-12 col-md-6">
  <img src="https://www.aisquared.com/wp-content/uploads/2014/05/libraries.jpg" style="height: 300px; width: 450px;">
  <img  src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2b/Melk_-_Abbey_-_Library.jpg/1200px-Melk_-_Abbey_-_Library.jpg"  style="height: 300px; width: 450px;">
  <img src="http://www.igniteafricalibrary.org/assets/img/preview/slider/library.jpg"  style="height: 300px; width: 450px;">
  <img  src="https://partnersnetwork.files.wordpress.com/2013/08/private-library.jpg"  style="height: 300px; width: 450px;">
  <img  src="https://partnersnetwork.files.wordpress.com/2013/08/private-library.jpg"  style="height: 300px; width: 450px;">
  <img  src="https://partnersnetwork.files.wordpress.com/2013/08/private-library.jpg"  style="height: 300px; width: 450px;">

</div>
